<div>
    <h2>Последно добавени обяви</h2>
    <div *ngFor="let ad of ads">
        <div class="col-md-3" *ngFor="let userads of ad.announcement">
            <img src="{{userads.image}}" alt="{{userads.title}}">
            <p><strong>{{userads.title}}</strong> за {{userads.class}} клас</p>
            <p name="username">Публикувано от: {{ad.username}}</p>
            <p name="publisher">Издателство: {{userads.publisher}}</p>
            <p name="year">Година на издаване: {{userads.year}}</p>
            <p><a class="btn btn-default" href="#" role="button">Виж повече &raquo;</a></p>
        </div>
    </div>
</div>