<div class="search-form-control">
    <div class="row">
        <div class="col-xs-6 col-sm-3">
            <h4>Намери учебник</h4>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Въведи предмет...">
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Въведи клас...">
            </div>
        </div>
        <button type="button" class="btn btn-secondary">Намери</button>
    </div>

</div>
<div class="row">
    <div class="col-xs-6 col-sm-3">
        <label for="sort">Сортирай по:</label>
        <select class="form-control" name="sort">
        <option>Азбучен ред</option>
        <option>Цена</option>
        <option>Година на издаване</option>
    </select>
    </div>
    <div class="col-xs-6 col-sm-3">
        <label for="order">Подреди:</label>
        <select class="form-control" name="order">
        <option>Възходящо</option>
        <option>Низходящо</option>
    </select>
    </div>
</div>
<app-announcements-list></app-announcements-list>